.add-content{
    padding: 50px 0;
    margin: 0 auto;
    max-width: 600px;

}
.add-content .input-container input{
  width: 100%;
  background-color: rgba(31, 31, 97, 0.854);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: aliceblue;
  font-size: 1.25rem;
  /* opacity: 0; */
}
.results{
    padding: 0;
    margin: 0;
    margin-top: 20px;
}
