.header{
    background-color: rgba(1, 1, 25, 0.936);
    padding: 10px 0;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    color: aliceblue;
    font-size: 1.25rem;
    text-decoration: none;
    transition: all .3s ease;
}
.header a:hover{
    opacity: .7;
    cursor: pointer;
}
.header .logo a{
    font-weight: 700;
    font-size: 1.5rem;
}
.header .nav-links{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
}
.header .nav-links li{
    display: inline-block;
    margin-right: 30px;

}
/* شاشه الموبايل */
@media (max-width:575px) {
    .header .nav-links li{
        margin: 0 5PX;
    }
    
}
.header .nav-links li:last-child{
  margin-right: 0PX;
}