.movie-card{
    width: 100%;
    border-radius: 5px;
    border: 0;
    display: block;
    overflow: hidden;
    position: relative;
}
.movie-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie-card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid blue;
    transition: all .3s ease;
}
.movie-card:hover .overlay{
 border: 3px solid white;
}
.inner-card-controls{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    opacity: 0;
    transition: all .3s ease;
}
.movie-card:hover .inner-card-controls{
    opacity: 1;
}
.ctrl-btn {
    color: rgb(7, 3, 74);
    /* background-color: rgb(21, 21, 63); */
    padding: 5px;
    margin: 0;
    border: none;
    font-size: 1.25rem;
    transition: all .3s ease;
    border-radius: 20px;
}
.ctrl-btn:hover{
    color: white;
    cursor: pointer;
}