.watch-list{
    padding:30px 0;
}
.watch-list .main-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.movies-count{
    display: block;
    background-color: rgb(6, 6, 40);
    padding: 5px 15px;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 999px;
    color: rgb(13, 13, 53);
}
.watch-list h1{
    color: rgb(50, 50, 81);
    margin: 0;
    font-size: 36px;
}
.movie-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
@media (min-width:992px){
     .movie-grid{
        grid-template-columns: repeat(5,1fr);
     }
}
