*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.btn{
    padding: 10px 15px;
    background-color: rgba(144, 144, 171, 0.874);
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 1rem;
    border: none;
    font-weight: 700;
    display: inline-block;
    transition: all .3s ease;
}
.btn:hover{
    background-color: aliceblue;
    color: rgba(1, 1, 11, 0.874);
    opacity: 1;
    cursor: pointer;
}
.btn:disabled{
    opacity: .5;
    pointer-events: none;
}
input:focus{
    outline: none;
    
}